html {
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam Pro", sans-serif;
    color: #ffffff;

}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(144deg, #B4436D 10%, #4036A9 90%);
    background-repeat: no-repeat;
    padding: 30px;
    font-size: 16px;
}

header {
    display: flex;
    flex-shrink: 3;
    flex-direction: column;
    align-items: center;
    flex-basis: 100px;
    margin: 60px auto;
    text-align: center;
}

header h1 {
    font-size: 64px;
    margin: 0;

}

header p {
    font-size: 32px;
    margin: 0;
}

/*Business logo stlying*/
#logo {
    display: block;
    padding: 20px 0 0 8vh;
    max-width: 101px;
    max-height: 30px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 650px;
    background-color: rgba(205, 213, 224, 20%);
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
}

#personal-info {
    margin: 0;
    padding: 0px;
    border: none;
}


/*Message section*/
#message-container {
   /* border: 2px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0 10px 20px;
}

#label-message {
    margin-bottom: 5px;
    font-size: 14px;
    justify-items: left;
}

#message-box {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    width: auto;
}


/*Button styles*/
#btn {
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: #4036A9;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: none;
}

#btn:hover {
    background-color: #B4436D;
    color: white;
}


/* div container*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


/*Personal information section*/
.inside-container {
    margin: 20px 10px;
    width: 300px;
}

.labels {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-tab {
    display: block;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-weight: 800;
}


/*Dropdown Selection section*/
.dropdown {
    display: block;
    padding: 20px;
    width: 290px;
    border-radius: 10px;
    border: none;
    font-weight: 800;
}
