html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell ;
}


nav ul {
    display: inline-flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 10px;
    text-decoration: underline;
}

main {
    position: relative;
    top: 70px;
}

footer {
    margin-top: 70px;
}


footer p {
    text-align: left;
    padding-left: 20px;
}

a {
    color: seashell;
}

a:hover {
    text-decoration: underline;
    color: seagreen;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

#banner {
    background-image: url("./images/img-mission-background.jpg");
    background-position: center;
    width: 1200px;
    height:700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-black {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
}

#banner-black h2 {
    margin: 10px 0px 20px;
}

#banner-black h4 {
    margin: 0px 0px 5px;
}


#tea-month {
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tea-month h2, #tea-month p {
    margin-bottom: 20px; 
    font-weight: 700;
}

#img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


#location-container {
    background-image: url("./images/img-locations-background.jpg");
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1200px;
    height: 500px;
}

#location {
    flex-shrink: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

#contact h1 {
    margin-top: 20px;
}

#contact h5 {
    margin: 20px 0;
}

#contact h5 a, #contact p a {
    color: seashell;
    text-decoration: none;
}

#contact h5 a:hover, #contact p a:hover {
    text-decoration: underline;
    color: seagreen;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container:nth-of-type(2) {
    margin: 80px 0;
  }

.img-size {
    max-width: 300px;
    max-height: 200px;
}

.img-caption {
    margin-bottom: 30px;
}

.img-caption p {
    margin-top: 10px;
    text-align: center;
}

.city {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 0;
    flex-shrink: 3;
    width: 300px;
    margin: 15px 20px; 
    padding-top: 20px;
}

.city address {
    margin-top: 20px;
    text-align: center;
}

.city address p {
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    #location {
      overflow-y: auto; /* Enable scrolling below 800px */
    }
  }