html, body {
    margin: 0;
    padding: 0;
    background-color: #edf2f4;
    font-family: 'playfair display', serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2d42;
    color: #edf6f9;
    padding: 20px 40px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 20px;
    font-size: 20px;
    transition: 0.5s ;
}

ul li:hover {
    color: #ef233c;
}

nav button {
    margin: 0 30px;
    font-size: 20px;
    padding: 2px 20px;
    background-color: #778da9;
    color: #edf6f9;
    border: 2px solid #778da9;
    transition: 0.5s;
}

button:hover {
    background-color: #ef233c;
}

h3 {
    background-color: #778da9;
    padding: 10px;
    color: #fbfbfc;
}

footer {
    background-color: #2b2d42;
    color: #edf6f9; 
}

footer p {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.intro-header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-image: url("/Images/main\ photo.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100%;
}

.overlay {
    margin: 0 20px;
    
}

.overlay h1 {
    text-transform: uppercase;
    font-size: 8vw;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.shop-button {
    font-size: 18px;
    padding: 10px 20px;
    width: 200px;
    background-color: #2b2d42;
    color: #edf6f9;
    transition: 0.5s;
    border: 2px solid #778da9;
}


.overlay span {
   color: #ef233c; 
   background-color: #2b2d42;
   padding: 5px;
}

.arrival-container, .accessories-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}

.catalogue {
    margin: 20px 30px;
    font-size: 3vw;
}

.arrival-item {
    margin: 0 20px;
}

.arrival-item img {
    width: 250px;
    height: 250px;
    border: 5px solid #778da9;
}

.promo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ef233c;
    color: #edf6f9;
    padding: 30px 50px;
    margin: 20px 0;
}

.promo-title {
    font-size: 5vw;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.promo-item img{
    width: 300px;
    height: 200px;   
    border: 5px solid #778da9; 
}

.accessories-item {
    margin: 0 20px;

}

.accessories-container img {
    width: 250px;
    height: 250px;
    border: 5px solid #778da9;
}

.explore {
    font-weight: bold;
    color: #edf2f4;
    background-color: #ef233c;
    padding: 10px;
    transition: 0.6s;
}

.explore:hover {
    background-color: #2b2d42;
    color: #edf2f4;
}

.newsletter {
    background-color: #778da9;
    padding: 20px;
    text-align: center;
    color: #edf2f4;
    font-size: larger;
}

.newsletter h2 {
    font-size: 3vw;
    font-weight: bold;
    text-transform: capitalize;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
}

.newsletter-form input {
    font-size: larger;
    padding: 10px;
    margin: 10px;
    border: 2px solid #ef233c;
}

.newsletter-form button {
    font-size: larger;
    padding: 10px;
    margin: 10px;
    background-color: #ef233c;
    color: #edf2f4;
    border: 2px solid #ef233c;
    transition: 0.5s;
}

.newsletter-form button:hover {
    background-color: #2b2d42;
    color: #edf2f4;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
    margin: 10px
}


.footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /*margin-right: 200px;*/
}

.footer-links ul {
    padding: 0 100px;
    list-style-type: none;
}

.footer-links ul p {
    font-size: 20px;
    font-weight: bolder;
}

.footer-links ul li {
    font-size: 20px;
    padding: 10px 0;
    transition: 0.5s;
    text-align: center; 
}



